<ngx-spinner type="ball-pulse-sync" color="#e74c3c">
  <p style="font-size: 20px; color: #e74c3c">
    {{ 'Please wait...' | translate }}
  </p>
</ngx-spinner>
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <h5>{{ 'User Details' | translate }}</h5>
      </div>
      <div class="row">
        <div class="col-xl-4">
          <div class="user-card-body">
            <div class="card-body">
              <div class="top-card text-center">
                <img
                  [src]="photo"
                  style="height: 100px; width: 100px; border-radius: 50%"
                  onError="this.src='assets/icon.png'"
                  class="img-responsive"
                  alt=""
                />
              </div>
              <div class="card-contain text-center p-t-40">
                <h5 class="text-capitalize p-b-10">{{ name }}</h5>
                <p class="text-muted">{{ email }}</p>
              </div>
              <div class="card-data">
                <div class="row">
                  <div class="col-4 b-r-default text-center">
                    <p class="text-muted">{{ 'Orders' | translate }}</p>
                    <span>{{ myOrders.length }}</span>
                  </div>
                  <div class="col-4 b-r-default text-center">
                    <p class="text-muted">{{ 'Address' | translate }}</p>
                    <span>{{ myaddress.length }}</span>
                  </div>
                  <div class="col-4 b-r-default text-center">
                    <p class="text-muted">{{ 'Reviews' | translate }}</p>
                    <span>{{ reviews.length }}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End-->
    </div>
  </div>
</div>
